PORT=port_number
ACCESS_TOKEN_SECRET=access_token_secret_for_authentication
REFRESH_TOKEN_SECRET=refresh_token_secret_for_authentication
MONGODB_URL=database_url
AUTH_EMAIL=nodemailer_email_for_sending_mail
NODEMAILER_PASS=nodemailer_pass
FLUTTERWAVE_SECRET_KEY=FLWSECK-flutterwave_secret_key
FLUTTERWAVE_WEBHOOK_HASH=webhook_hash_flutterwave