<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <style>
       /* General styles for the "Forgot Password" page */
       body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }

        form {
            width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            
        }

        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }

        label{
            margin-bottom: 50px;
            font-weight: bold;
        }

        input[type="password"] {
            width: 70%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            width: 50%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Reset Password</h1>
    <form method="POST" action="/reset-password/<%= token %>">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
